{% extends "base.html.twig"%}

{% block top %}
	<div class="topo">
	<img src="{{asset('img/logo-digital.png')]}}">
	</div>
{% endblock %}


{% block stylesheets %}
	<link rel="stylesheets" href="{{asset('css/styles.css')}}">
{% endblock %}

{% block title %}Cadastro de usuarios{% endblock %}

{% block body %}
<p class="msgErro">Ops, falha ao cadastar o Usuário: <strong>{{fulano}}</strong></p>
{% endblock %}
